@model YogaVision.Core.Models.FoodRecipe.FoodRecipeInputModel
@{
    this.ViewData["Title"] = "Добави Рецепта";
}

<div class="col-lg-6">
    <h2>Нова Рецепта</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.Title" class="form-control" required="required">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.Author" class="form-control" required="required">
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Изображение</label>
            <div class="col-sm-10">
                <input type="file" asp-for="@Model.Image" class="image-upload" required="required" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
         <div class="form-group row">
            <label class="col-sm-2 col-form-label">Необходими продукти</label>
            <div class="col-sm-10">
                <textarea type="text" asp-for="@Model.RequiredProducts" class="form-control" required="required"></textarea>
                <span asp-validation-for="RequiredProducts" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Съдържание</label>
            <div class="col-sm-10">
                <textarea type="text" asp-for="@Model.Content" class="form-control" required="required"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                        asp-area="Admin" asp-controller="FoodRecipe" asp-action="AddFoodRecipe">
                    Добави Рецепта
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" asp-area="Admin" asp-controller="FoodRecipe" asp-action="Index">Отмени</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}
