@model YogaVision.Core.Models.BlogPost.BlogPostsListViewModel
@using YogaVision.Common
@{
    this.ViewData["Title"] = "Blog Posts";
}

<h2>
    Всички Блог Статии (@Model.BlogPosts.Count())
    <span>
        <a class="btn btn-info" asp-area="Admin" asp-controller="BlogPost" asp-action="AddBlogPost">Добави Нова Блог Статия</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Заглавие</th>
            <th scope="col">Изображение</th>
             <th scope="col">Кратко съдаржание</th>
            <th scope="col">Съдаржание</th>
            <th scope="col">Автор</th>
            <th scope="col">Създаден на</th>
            <th scope="col">Бутон за изтриване</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blogPost in this.Model.BlogPosts)
        {
            <tr>
                <th scope="row">@blogPost.Title</th>
                <td>
                    <img class="align-self-center" src="@blogPost.ImageUrl" style="width:180px;height:120px;">
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#blogPostShort-@blogPost.Id">
                        Покажи Цялото Кратко Съдаржание
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="blogPostShort-@blogPost.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">@blogPost.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @blogPost.ShortContent
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#blogPost-@blogPost.Id">
                        Покажи Цялото Съдаржание
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="blogPost-@blogPost.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">@blogPost.Title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @blogPost.Content
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Затвори</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>@blogPost.Author</td>
                <td>@blogPost.CreatedOn</td>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm"
                            asp-area="Admin" asp-controller="BlogPost" asp-action="DeleteBlogPost" asp-route-id="@blogPost.Id">
                             Изтрий
                        </button>
                    </form>
                    <form method="get">
                        <button type="submit" class="btn btn-warning btn-sm"
                            asp-area="Admin" asp-controller="BlogPost" asp-action="EditBlogPost" asp-route-id="@blogPost.Id">
                             Редактирай
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
