@model YogaVision.Core.Models.BlogPost.BlogPostsPaginatedListViewModel
@{
    this.ViewData["Title"] = "Публикации";
}

<section class="page-section bg-light" id="team">
    <div class="container">

        <div class="card-deck">

            @foreach (var blogPost in Model.BlogPosts)
            {
                
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="@blogPost.ImageUrl" alt="Card image cap">
                    <h5 class="card-header"><strong>@blogPost.Title</strong></h5>
                       
                        <div class="card-body">
                            
                            <p class="card-text">@blogPost.ShortContent</p>
                        <a asp-controller="BlogPost" asp-action="Details" asp-route-id="@blogPost.Id" class="btn btn-info">Прочети</a>
                        </div>
                    </div>
            }

        </div>

    </div>
</section>

@{
    var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}

@if (ViewData["CurrentSort"] == null)
{
    <div class="row ml-5">
        <div class="m-5">
            <a asp-action="Index"
           asp-route-pageNumber="@(Model.BlogPosts.PageIndex - 1)"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @prevDisabled">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="m-5">
            <a asp-action="Index"
           asp-route-pageNumber="@(Model.BlogPosts.PageIndex + 1)"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @nextDisabled">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
}








