@model YogaVision.Core.Models.BlogPost.BlogPostsPaginatedListViewModel
@{
    this.ViewData["Title"] = "Публикации";
}

<section class="page-section bg-light" id="team">
    <div class="container">

        <div class="card-deck">

            @foreach (var blogPost in Model.BlogPosts)
            {
                
                    <div class="card" style="width: 25rem;">
                        <img class="card-img-top" src="@blogPost.ImageUrl" alt="Card image cap">
                    <h5 class="card-header"><strong>@blogPost.Title</strong></h5>
                       
                        <div class="card-body">
                            
                            <p class="card-text">@blogPost.ShortContent</p>
                        <a asp-controller="BlogPost" asp-action="Details" asp-route-id="@blogPost.Id" class="btn btn-info">Прочети</a>
                        </div>
                    </div>
            }
        </div>
    </div>
</section>

@{
    var prevDisabled = !Model.BlogPosts.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.BlogPosts.HasNextPage ? "disabled" : "";
}

@if (ViewData["CurrentSort"] == null)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item "><a class="btn btn-info @prevDisabled" asp-action="Index" asp-route-pageNumber="@(Model.BlogPosts.PageIndex - 1)">Назад</a></li>
            @for (int i = 1; i <= @Model.BlogPosts.TotalPages; i++)
            {
                @if (i != @Model.BlogPosts.PageIndex)
                {
                    <li class="page-item"><a asp-action="Index" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link"> @i</a></li>
                }
            }

            <li class="page-item">
                <a class="btn btn-info @nextDisabled" asp-action="Index" asp-route-pageNumber="@(Model.BlogPosts.PageIndex + 1)">Напред</a>
            </li>
        </ul>
    </nav>
}
    
    
    
    
    
    
  








