@model YogaVision.Core.Models.Instructor.InstructorInputModel
@{
    this.ViewData["Title"] = "Добави Инструктор";
}

<div class="col-lg-6">
    <h2>Добави нов инструктор</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Псевдоним</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.Nickname" class="form-control" required="required">
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Име</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.FirstName" class="form-control" required="required">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Фамилия</label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.LastName" class="form-control" required="required">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Главна Снимка</label>
            <div class="col-sm-10">
                <input type="file" asp-for="@Model.Image" class="form-control-file image-upload" required="required" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Снимка 1</label>
            <div class="col-sm-10">
                <input type="file" asp-for="@Model.ImageFirst" class="form-control-file image-upload" required="required" />
                <span asp-validation-for="ImageFirst" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Снимка 2</label>
            <div class="col-sm-10">
                <input type="file" asp-for="@Model.ImageSecond" class="form-control-file image-upload" required="required" />
                <span asp-validation-for="ImageSecond" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Снимка 3</label>
            <div class="col-sm-10">
                <input type="file" asp-for="@Model.ImageThird" class="form-control-file image-upload" required="required" />
                <span asp-validation-for="ImageThird" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-10">
                <textarea type="text" asp-for="@Model.Description" class="form-control" required="required"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Facebook страница</label>
            <div class="col-sm-10">
                <textarea type="text" asp-for="@Model.FacebookLink" class="form-control" required="required"></textarea>
                <span asp-validation-for="FacebookLink" class="text-danger"></span>
            </div>
        </div>
        
        
        <div class="form-group row">
            <div class="col-sm-6 text-right">
                <button type="submit" class="btn btn-success"
                        asp-area="Admin" asp-controller="Instructor" asp-action="AddInstructor">
                    Добави Инструктор
                </button>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-danger" asp-area="Admin" asp-controller="Instructor" asp-action="Index">Отмени</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/upload-image.js" asp-append-version="true"></script>
}
