@model YogaVision.Core.Models.Instructors.InstructorsListViewModel
@{
    this.ViewData["Title"] = "Инструктори";
}


<section class="page-section bg-light" id="team">
    <div class="container">
        
        <div class="row">

            @foreach (var instructor in Model.Instructors)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="team-member">
                        <a asp-area="" asp-controller="Instructors" asp-action="Details" asp-route-id="@instructor.Id">  <img class="mx-auto rounded-circle" src="@instructor.ImageUrl" alt="..." /></a>
                        <h4>@instructor.FirstName @instructor.LastName</h4>
                        <p class="text-muted">@instructor.NickName</p>
                        <a class="btn btn-dark btn-social mx-2" href=@instructor.FacebookLink><i class="fa fa-facebook"></i></a>

                </div>

            </div>
            }

        </div>
        
    </div>
</section>










@*<div class="row row-eq-height">
    @foreach (var instructor in Model.Instructors)
    {
        <div class="col-xl-3 col-md-6">
            <div class="doctor">
                <div class="doctor_image"><a asp-area="" asp-controller="Instructors" asp-action="Details" asp-route-id="@instructor.Id"><img src="@instructor.ImageUrl" alt=""></a></div>
                <div class="doctor_content">
                    <div class="doctor_title"><strong>@instructor.NickName</strong></div>
                    
                </div>
            </div>
        </div>
    }
</div>*@