@using System.Globalization
@model YogaVision.Core.Models.BlogPost.BlogPostsListViewModel
@{
    this.ViewData["Title"] = "Последни публикации";
}

@foreach (var blogPost in Model.BlogPosts)
{
    <!-- Latest News Post -->
    <div class="latest d-flex flex-row align-items-start justify-content-start">
        <div><div class="latest_image"><img src="@blogPost.ImageUrl" alt=""></div></div>
        <div class="latest_content">
            <div class="latest_title">
                <a asp-area="" asp-controller="BlogPost" asp-action="Details" asp-route-Id="@blogPost.Id">@blogPost.Title</a>
            </div>
            <div class="latest_info">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a>от @blogPost.Author</a></li>
                    <li><a>@blogPost.CreatedOn.Date.ToString("D",CultureInfo.CreateSpecificCulture("bg-BG"))</a></li>
                </ul>
            </div>
            <div class="latest_comments">
                <a asp-area="" asp-controller="BlogPost" asp-action="Details" asp-route-Id="@blogPost.Id">Прочети</a>
            </div>
        </div>
    </div>
}
