@model YogaVision.Core.Models.Studio.StudiosListViewModel
@{
    this.ViewData["Title"] = "Студия";
}

<h2>
    Студия (@Model.Studios.Count())
    <span>
        <a class="btn btn-info" asp-area="Admin" asp-controller="Studio" asp-action="AddStudio">Добави Ново Студио</a>
    </span>
</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Име</th>
            <th scope="col">Изображение</th>
            <th scope="col">Град</th>
            <th scope="col">Адрес</th>
            <th scope="col">Бутон за Изтриване/Редактиране</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var studio in this.Model.Studios)
        {
            <tr>
                <th scope="row">@studio.Name</th>
                <td>
                    <img class="align-self-center" src="@studio.ImageUrl" style="width:180px;height:120px;">
                </td>

                <td>@studio.CityName</td>
                <td>@studio.Address</td>


                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm"
                            asp-area="Admin" asp-controller="Studio" asp-action="DeleteStudio" asp-route-id="@studio.Id">
                            Изтриване
                        </button>
                    </form>
                    <form method="get">
                        <button type="submit" class="btn btn-warning btn-sm"
                            asp-area="Admin" asp-controller="Studio" asp-action="EditStudio" asp-route-id="@studio.Id">
                            Редактиране
                        </button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>