@model YogaVision.Core.Models.FoodRecipe.FoodRecipesPaginatedListViewModel
@{
    this.ViewData["Title"] = "Кулинарни рецепти";
}

<section class="page-section bg-light" id="team">
   

        <div class="container">
            <div class="row">
            @foreach (var foodRecipe in Model.FirstRowFoodRecipes)
            {
                 <div class="col-4">
                <div class="card" >
                    <img class="card-img-top" src="@foodRecipe.ImageUrl" alt="Card image cap">
                    <h5 class="card-header"><strong>@foodRecipe.Title</strong></h5>

                    <div class="card-body">
                        <a asp-controller="FoodRecipe" asp-action="Details" asp-route-id="@foodRecipe.Id" class="btn btn-info">Прочети</a>
                    </div>
                </div>
                </div>
            }
        </div>
        <div class="row">

            @foreach (var foodRecipe in Model.SecondRowFoodRecipes)
            {
                  <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="@foodRecipe.ImageUrl" alt="Card image cap">
                    <h5 class="card-header"><strong>@foodRecipe.Title</strong></h5>

                    <div class="card-body">
                        <a asp-controller="FoodRecipe" asp-action="Details" asp-route-id="@foodRecipe.Id" class="btn btn-info">Прочети</a>
                    </div>
                </div>
                </div>
            }
        </div>
        </div>
</section>

@{
    var prevDisabled = !Model.FirstRowFoodRecipes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.FirstRowFoodRecipes.HasNextPage ? "disabled" : "";
}

@if (ViewData["CurrentSort"] == null)
{
    <div class="row ml-5">
        <div class="m-5">
            <a asp-action="Index"
           asp-route-pageNumber="@(Model.FirstRowFoodRecipes.PageIndex - 1)"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @prevDisabled">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
        <div class="m-5">
            <a asp-action="Index"
           asp-route-pageNumber="@(Model.FirstRowFoodRecipes.PageIndex + 1)"
           style="color: #BA55D3" class="btn btn-outline-secondary btn-lg @nextDisabled">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
}








